@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('./fonts/RobotoCondensed-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('./fonts/RobotoCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Thin';
  src: url('./fonts/RobotoCondensed-Thin.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

.navbar-brand {
    font-family: 'Roboto Condensed Bold';
    color:whitesmoke;
}

.nav-link {
    font-family: "Roboto Condensed Regular";
    color:whitesmoke;
}

.nav-link.active {
    outline-width: 1px;
    color:whitesmoke;
}

.container-fluid {
    color:darkslategrey;
}

.tab-pane {
    max-width: 80%;
    align-self:center;
}

.container-fluid h1 {
    font-family: "Roboto Condensed Thin";
}

.container-fluid p {
    font-family: "Roboto Condensed Regular";
}

.body {
    background-color: #092852;
    color: whitesmoke
}

.card {
    background-color: #d5d9db;
    padding: 1em;
    color: black;
    max-height: 100em;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Roboto Condensed Regular";
}

.well {
    border-radius: 6%;
    background-color: #d5d9db;
    
}

.navbar {
    background-color: rgba(50, 145, 97, 1);
    color:whitesmoke;
}

.shiny-input-container {
    font-family: "Roboto Condensed Regular";
}