.container-fluid {
    color : #fabd00
}

.body {
    background-color: #092852;
    color: whitesmoke
}

.card {
    background-color: rgba(91, 146, 228, 1);
    padding: 1em;
    color: black;
    border-radius: 3%;
}

.well {
    border-radius: 6%;
    background-color: rgba(91, 146, 228, 1);
    
}

.navbar {
    background-color: rgba(91, 146, 228, 1);
}