.container-fluid {
    background-color : #092852;
    color : #fabd00
}

.body {
    background-color: #092852;
    color: whitesmoke
}

.card {
    background-color: whitesmoke;
    padding: 1em;
    color: black;
    border-radius: 3%;
}

.well {
    border-radius: 6%;
}