
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('./fonts/RobotoCondensed-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('./fonts/RobotoCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Thin';
  src: url('./fonts/RobotoCondensed-Thin.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

h1 { font-family: "Roboto Condensed Thin";
     font-weight:lighter;}

p { font-family: "Roboto Condensed Regular";
    line-height: 1.5}
h4 { font-family: ""}

body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: darkslategrey;
 }

#content {
    max-width: 80%;
    margin: 0 auto;
}

#container { max-width: 1200px; margin: auto; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }

header { display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #eee; padding-bottom: 10px; margin-bottom: 20px; }

#map { height: 500px; width: 100%; border-radius: 4px; border: 1px solid #ccc; }

#controls {padding: 14px; display: flex; justify-content: center;}

select {margin-left:1%;
        margin-right: 3%;}

#table-section { margin-top: 30px; }

.container-fluid h1 {
    font-family: "Roboto Condensed Thin";
}

.container-fluid p {
    font-family: "Roboto Condensed Regular";
}

.body {
    background-color: #092852;
    color: whitesmoke;
}

.card {
    background-color: #d5d9db;
    padding: 1em;
    color: black;
    max-height: 100em;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Roboto Condensed Regular";
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    max-height: 6vh;
    top: 0;
    background-color: rgba(50, 145, 97, 1);
    color:whitesmoke;
    font-family: "Roboto Condensed Bold";
    z-index: 100
}

.logo {font-size:larger; font-weight:bold}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 20px 0;
  gap: 1.5rem;
  margin-left: auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.policy-link {
    color: #184D47; /* Matching your 'Passed' color */
    font-weight: bold;
    text-decoration: underline;
}

.policy-link:hover {
    color: #329161; /* A lighter green on hover */
    text-decoration: none;
}